/*Base Styles*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h1 {
	font-family: Helvetica;
	text-align: center;
	margin-top: 10px;
}
h2 {
	font-family: Arial;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	width: 120px;
	margin: 0;
	float: right;
	margin-left: 10px;
}
div {
	box-sizing: border-box;
	border: 1px solid black;
	padding: 0;
	background-color: green;
}
section {
	box-sizing: border-box;
	padding: 20px;
	float: left;
}
p {
	margin: 10px;
	font-family: Baskerville;
}
/*Mobile Only*/
@media (max-width: 767px) {
	.col-sm-1 {
		width: 8.33%;
	}
	.col-sm-2 {
		width: 16.66%;
	}
	.col-sm-3 {
		width: 15%;
	}
	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-5 {
		width: 41.66%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-7 {
		width: 58.33%;
	}
	.col-sm-8 {
		width: 66.66%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-10 {
		width: 84.33%;
	}
	.col-sm-11 {
		width: 92.66%;
	}
	.col-sm-12 {
		width: 100%;
	}
}
/*Tablets Only*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 23.33%;		
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-10 {
		width: 84.33%;
	}
	.col-md-11 {
		width: 92.66%;
	}
	.col-md12 {
		width: 100%;
	}
}
/*Desktops Only*/
@media (min-width: 992px) {
	.col-lg1, .col-lg2, .col-lg3, .col-lg4, .col-lg5, .col-lg6, .col-lg7, .col-lg8, .col-lg9, .col-lg10, .col-lg11, .col-lg12 {
		float: left;
		border: 1px solid green;
		background-color: red;
	}
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 41.66%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-7 {
		width: 58.33%;
	}
	.col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 75%;
	}
	.col-lg-10 {
		width: 84.33%;
	}
	.col-lg-11 {
		width: 92.66%;
	}
	.col-lg-12 {
		width: 100%;	
	}
}
